*{ 
    font-family: 'Archivo Narrow', sans-serif;
    color: wheat;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*Selectores genereales*/
h2 { text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
section { 
    display: flex;
    flex-direction: column;    
}

h1 { font-size: 60px;
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    margin-bottom: 50px;
    margin-top: 100px;
}
h3 { margin-left: 15px; 
    display: inline;
    padding: 15PX;
    
}

div { 
      margin: 10px;
      display: inline;
}
body {
    /*background-color: rgb(70, 3, 24);*/
    background-image: url(../assets/img/fondo.jpg);
    box-shadow: 100px 1100px 0px;
}
a { 
    text-decoration: none;
}
.container-logo{ 
    width: 40vh;
    transition: all 0.2s ease-in;
}
.index img:hover{
    width: 60vh ;
}

/*NavBAr*/
.container-nav a{
    font-size: 1.4em;
    
    color: wheat;
 
}
.container-nav img { 
    width: 40wh;
    height: 30vh;
    

}
.navbar-div {
   background-image: url(../assets/img/fondo_navbar.png);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-home {
    
    margin: 30vh;
}
.navbar-keys {
    margin-right: 30vh;
}


.container-nav{


 font-size: 20px;
 margin-top: 30px;

}
/*FASE de GRUPOS*/

.title-center {
    text-align: center;
    margin: 10px;
}

.qatar-cont:hover {
    opacity: 60%; 
    background-color: aliceblue; color: brown;border: solid 1px rgb(246, 10, 10);
    cursor: crosshair;
    font-size: 1em;
   
}

.ecua-container:hover {
    opacity: 60%;
    background-color: yellow; color: blue; border: 1px solid red;
    cursor: crosshair;
    font-size: 1em;
    
}
.senegal-container:hover { 
    opacity: 60%;
    background: green; color: yellow; border: 1px solid red;
    cursor: crosshair;
    font-size: 1.3em;
    
}
.neth-container:hover { 
    opacity: 60%;
    background-color: whitesmoke; color: red; border:  0px;
    cursor: crosshair;
    font-size: 1.3em;
    
}
.england-container:hover { 
    opacity: 60%;
    background: white; color: red; border: 0px solid lightblue;
    cursor: crosshair;
    font-size: 1.3em;

}
.iran-container:hover {
    opacity: 60%;
     background-color: bisque ; color: green ; border:  1px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.usa-container:hover { 
    opacity: 60%;
    background: blue;color: aliceblue; border: 1px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.gales-container:hover { 
    opacity: 60%;
    background-color: green; color: aliceblue; border: 1px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.arg-cont:hover { 
    opacity: 90%;
    background-color: rgb(115, 176, 255); color: aliceblue;border: 2px solid yellow;
    cursor: crosshair;
    font-size: 1.3em;

}
.arabia-cont:hover { 
    opacity: 60%;
    background-color: green; color: black; border: 0px solid whitesmoke;
    cursor: crosshair;
    font-size: 1.3em;

}
.mexico-cont:hover { 
    opacity: 60%;
    background-color: white; color: red; border:  1px solid green;
    cursor: crosshair;
    font-size: 1.3em;

}
.polska-cont:hover { 
    opacity: 60%;
    background: white; color: rgb(215, 19, 19); border: 1px solid black;
    cursor: crosshair;
    font-size: 1.3em;

}
.france-cont:hover { 
    opacity: 60%;
    background:  blue; color: red; border: 2px whitesmoke solid;
    cursor: crosshair;
    font-size: 1.3em;

}
.austr-cont:hover { 
    opacity: 60%;
    background-color: yellowgreen; border: 1px solid red; color: green;
    cursor: crosshair;
    font-size: 1.3em;

}
.dina-cont:hover { 
    opacity: 60%;
    background-color: red; color: whitesmoke ; border: 0px solid black;
    cursor: crosshair;
    font-size: 1.3em;

}
.tunez-cont:hover { 
    opacity: 60%;
    background-color: red; color: black; border: 2px solid whitesmoke;
    cursor: crosshair;
    font-size: 1.3em;

}
.spain-cont:hover {
    opacity: 60%;
    background-color: yellow; color: black; border: 2px solid red; 
    cursor: crosshair;
    font-size: 1.3em;

}
.costa-cont:hover {
    opacity: 60%;
     background-color: whitesmoke; color: blue; border: 0px blue solid ;
    cursor: crosshair;
    font-size: 1.3em;

}
.ger-cont:hover { 
    opacity: 60%;
    background-color: yellow; color:  red; border:  2px solid black;
    cursor: crosshair;
    font-size: 1.3em;

}
.japan-cont:hover { 
    opacity: 60%;
    background-color: whitesmoke; color: red; border: 1px solid black;
    cursor: crosshair;
    font-size: 1.3em;

}
.belgium-cont:hover { 
    opacity: 60%;
    background-color: black; color: red; border:  2px solid yellow;
    cursor: crosshair;
    font-size: 1.3em;

}
.switzerland-cont:hover { 
    opacity: 60%;
    background-color: whitesmoke; color:red; border: 2px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.camerun-cont:hover {
    opacity: 60%;
     background-color: green; color: red; border: 0px solid yellow;
    cursor: crosshair;
    font-size: 1.3em;

}
.serbia-cont:hover { 
    opacity: 60%;
    background-color: white; color: blue; border:  2px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.canada-cont:hover { 
    opacity: 60%;
    background-color: whitesmoke; color:  red; border: red 2px solid;
    cursor: crosshair;
    font-size: 1.3em;
    
}
.marrue-cont:hover { 
    opacity: 60%;
    background-color: red;color: green;border: 0px solid whitesmoke;
    cursor: crosshair;
    font-size: 1.3em;

}
.croatia-cont:hover { 
    opacity: 60%;
    background: blue ; color: whitesmoke; border: 2px red solid;
    cursor: crosshair;
    font-size: 1.3em;

}
.portugal-cont:hover { 
    opacity: 60%;
    background-color: green; color:  red; border: 2px black solid;
    cursor: crosshair;
    font-size: 1.3em;

}
.ghana-cont:hover { 
    opacity: 60%;
    background-color: yellow; color: red; border: green solid 2px;
    cursor: crosshair;
    font-size: 1.3em;

}
.uru-cont:hover{ 
    opacity: 60%;
    background-color: lightblue; color: black; border: 2px solid blue;
    cursor: crosshair;
    font-size: 1.3em;

}
.korea-cont:hover { 
    opacity: 60%;
    background-color: whitesmoke; color: blue; border: 0px solid red;
    cursor: crosshair;
    font-size: 1.3em;

}
.bra-cont:hover{ 
    opacity: 60%;
    background-color: green; color: yellow; border: 1px solid blue;
    cursor: crosshair;
    font-size: 1.3em;

}


/*FASE GRUPOS*/
.win {
    color: green;
}
.lost{
     color: rgb(208, 7, 7);
}
.header-group {
    font-size: 80px;
    color: rgb(68, 6, 6);
}
.difgol-group {
    color: brown;
}
.container-table table {
    background-image: url(../assets/img/fondo-tablas.png);
    border: 10px ridge rgb(149, 132, 1);
    display:flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    margin-top: 100px;
    
}
.container-table img {
    height: 15px;
    width: 30px;
   
    margin-right: 20px;
    
}
td { text-align: center;
    border: solid 2px whitesmoke;
    border-bottom: none;
    color: rgb(12, 3, 48);
    font-size: 1.25em;
    border-right: none;
    font-weight: bold;

}
th {color: rgb(61, 61, 62);
    border: 2px white solid;
    border-top: none;
    padding: 40px;
    border-right: none;
    font-size: 1.2em;
}
.group-title:hover{
    background-color: bisque;
    color: brown;
    opacity: 50%;
    
}
.container-grupos {
    margin-right: 10px;
    padding: 40px 
    
}
.container-group img:hover{
    width: 50px ;
    height: 25px;
}
.container-group img {

    width: 40px;
    height: 20px;
    transition: all 0.2s ease;
}
.container-group {
    display: inline;
  

}

.container-groups{
    display: flex; 
    justify-content: center;
   
    height: 45vh;
    width: 40vh;
    padding-top: 10px;
    background-image: url(../assets/img/fondo_grupos.avif);
    background-size: contain;

}

/*resultados*/
.container-info {
    margin: 0;
   display: flex;
   border: 1px solid black;
}
.cont-darkdate {
    background-color: rgb(74, 73, 73);
}
.cont-date {
    background-color: grey;

}
.cont-white {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
}
.container-p {
    color: black;
    display: flex;
    justify-content: center;
;
}
.container-p img {
      width: 40px;
      height: 20px;
}
.numbers p {
    color: black;
    
}
.cont-whitebis {
    background-color: aliceblue;
}
.cont-whitebis p { 
    color: rgb(151, 146, 146);
    
}

/*FASE LLAVES*/
.container-section{  
    margin-left: 100px;
    display: flex;
    align-self: center;
    padding-top: 0;

}
.container-section h1 {
    margin-top: 30px;
    margin-left: 20px;
}


.container-country h3 {
    color: black;
}
.container-country {
    border-radius: 20%;
    
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px;
}
.container-country img {
    width: 50px;
    height: 35px;
}
.container-octaves {
    display: flex;
    justify-content: space-between;
}
.container-quarter {
    display: flex;
    justify-content: space-around;
}
.semifinal {
    display: flex;
    justify-content: center;
}
.final {
    display: flex;
    justify-content: center ;
}
.container-thirdplace {
    display: flex;
    justify-content: center;
}
.container-order {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-top: 60px;
}
.title-pages{
    color: blanchedalmond;
    text-shadow: 2px coral;
}
.title-keys {
    display: flex;
    justify-content: center;
}
.title-octaves h2 { background-color: rgb(193, 101, 101);
    padding: 9px 9px 9px ;
     
}
.title-octaves { 
    display: flex;
   justify-content: space-between;
   margin: 0;
}
.title-quarter h2{
    padding: 6px 6px 6px; 
    background-color: rgba(193, 101, 101, 0.6);

}
.title-quarter { margin-left: 0;
    display: flex;
    justify-content: space-around;
}
.title-semifinal h2 { background-color: rgba(249, 243, 243, 0.295);
    padding: 9px 9px 9px;
}
.title-semifinal {  
    display: flex;
   justify-content: center;
}
.title-final { 
    border: 4mm ridge rgb(172, 120, 23);
    background-image: url(../assets/img/back-gold.png);
    display: flex;
    justify-content: center;
}
.title-tercer { display: flex;
   justify-content: center;
   background-image: url(../assets/img/bac-bronza.jfif);
   border: 2mm ridge rgb(125, 89, 23);
}

